<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.iesystem.dao.EnterpriseDao">

    <select id="getEnterpriseList" resultType="Enterprise">
        select  * from enterprises
    </select>

    <select id="getEnterpriseListByName" resultType="Enterprise">
        select * from enterprises where enterprise_name = #{enterprise_name}
    </select>

    <select id="getEnterpriseListById" resultType="Enterprise">
        select * from enterprises where enterprise_id = #{enterprise_id}
    </select>

    <insert id="addEnterprise">
        insert into enterprises(enterprise_name,contact_person,address,phone_number,email,business_type)
        values(#{enterprise_name},#{contact_person},#{address},#{phone_number},#{email},#{business_type})
    </insert>

    <delete id="deleteBatch">
        delete from enterprises where enterprise_id in
        <foreach collection="ids" item="enterprise_id" open="(" close=")" separator=",">
            #{enterprise_id}
        </foreach>
    </delete>

    <update id="updateEnterprise">
        update enterprises set enterprise_name = #{enterprise_name},contact_person = #{contact_person},address = #{address},phone_number = #{phone_number},email = #{email},business_type = #{business_type}
        where enterprise_id = #{enterprise_id}
    </update>
</mapper>